# DO NOT INCLUDE node_modules
node_modules

# IGNORE webpack bundle
# ignore newrelic files
/public/n&c_bundle.js
newrelic.js
newrelic_agent.log

# IGNORE JSON AND CSV FILES
/db/colors.csv
/db/shoes.csv
/db/shoes.json
stresstest.js

# INGORE coverage folder
/coverage

# IGNORE terraform and loader.io
/terraform
/loaderio-bdb53f82a91fa1b5696f4c471970468a.txt